* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #faf5f6;
  display: grid;
  height: 100vh;
  place-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main {
  width: 500px;
  height: 610px;
  background-color: rgba(250, 253, 76, 0.562);
  position: absolute;
  border: 4px solid hsl(63, 100%, 50%);
  border-radius: 6px;
}
.main input[type="text"] {
  width: 88%; 
  position: relative;
  height: 75px;
  top: 15px;
  text-align: right;
  padding: 3px 6px;
  outline: none;
  font-size: 40px;
  border: 5px solid rgb(252, 252, 252);
  display: flex;
  margin: auto;
  border-radius: 6px;
}
.btn input[type="button"] {
  width: 110px;
  padding: 3px;
  margin: 2px 0px;
  position: relative;
  left: 13px;
  top: 30px;
  height: 90px;
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
  background-color: #f1f5f4;
  border-radius: 10px;
  color: rgb(11, 11, 11);
}
.btn input[type="button"]:hover {
  background-color: rgb(232, 249, 4);
}
